.about-dish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  /*position: absolute;*/
  margin-left: 0.5rem;
  border-radius: 1rem;
  width: 11rem;
  padding: 0.5rem 0.2rem 0.5rem 1rem;
  background-color: #a90000;
}

.dish-question {
  background-color: #ff6bf6 !important;
  margin-left: 2rem;
}

.dish-size-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.is-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-right: 1rem;
}

table.prices td:nth-child(3) {
  padding-left: 4rem;
}
