<section class="about-dish">
  <div class="title">Quentinha {{id}}</div>
  <section>
    <div>Qual o tamanho da quentinha?</div>
    <section class="dish-size-options">
      <div>
        <input type="radio" id="p" name="dish-size">
        <label for="p">P (350ml)</label>
      </div>
      <div>
        <input type="radio" id="g" name="dish-size">
        <label for="g">G (750ml)</label>
      </div>
    </section>
  </section>

  <section>
    <div>Qual proteína?</div>
    <table class="prices">
      <tr>
        <td><input type="radio" name="protein" id="boi"></td>
        <td>Boi</td>
        <td>R$ 10,00</td>
      </tr>
      <tr>
        <td><input type="radio" name="protein" id="galinha"></td>
        <td>Galinha</td>
        <td>R$ 10,00</td>
      </tr>
      <tr>
        <td><input type="radio" name="protein" id="ovo"></td>
        <td>Ovo</td>
        <td>R$ 10,00</td>
      </tr>
      <tr>
        <td><input type="radio" name  ="protein" id="porco"></td>
        <td>Porco</td>
        <td>R$ 10,00</td>
      </tr>
      <tr>
        <td><input type="radio" name  ="protein" id="none"></td>
        <td>Sem carne</td>
        <td>R$ 10,00</td>
      </tr>
    </table>
  </section>

  <section>
    <div>Será completa?</div>
    <table class="is-full">
    (Com arroz, feijão, macarrão e farofa de bacon)
      <div class="if-full-option">
        <input type="radio" name="if-full" id="yes" [(ngModel)]="isFull" [value]="true">
        <label>Sim</label>
      </div>
      <div class="if-full-option">
        <input type="radio" name="if-full" id ="no" [(ngModel)]="isFull" [value]="false">
        <label>Não</label>
      </div>
    </table>

    <section *ngIf="!isFull" class="half-way">
      <p>O que deseja remover do prato?</p>
      <table class="food-to-remove">
        <tr>
          <td><input type="checkbox" name="protein" id="rice"></td>
          <td>Arroz</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="bean"></td>
          <td>Feijão</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="spaghetti"></td>
          <td>Macarrão</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="farofa"></td>
          <td>Farofa de bacon</td>
        </tr>
      </table>
    </section>
  </section>

  <section>
    <div>Qual será o acompanhamento?</div>
  <table class="accompaniments">
    <tr>
      <td><input type="radio" name="accompaniment" id="fries"></td>
      <td>Batata frita</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="salad"></td>
      <td>Salada de legumes</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="mayonnaise"></td>
      <td>Maionese</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="no-accompaniment"></td>
      <td>Sem Acompanhamento</td>
    </tr>
  </table>

  </section>

  <section>
    <div>Algum adicional? (opcional)</div>
    <table class="additional">
      <tr>
        <td><input type="checkbox" id="egg"></td>
        <td>Ovo</td>
        <td>R$ 2,00</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="soda"></td>
        <td>Coca-cola em lata</td>
        <td>R$ 6,00</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="drink"></td>
        <td>Guaravita</td>
        <td>R$ 2,00</td>
      </tr>
      </table>
  </section>

  <section>
    <div>Alguma observação?</div>
    <div>Ponto da carne (bem passada ou mal passada), da gema do ovo, etc.</div>
    <textarea></textarea>
  </section>

</section>
