<section class="dish-question" *ngIf="typeOfQuestion===TypeOfQuestion.dishSize">
  <caption class="question">Qual o tamanho da quentinha?</caption>
  <div class="options">
    <div>
    <input type="radio" id="p" name="dish-size">
    <label for="p">P (350ml)</label>
    </div>
    <div>
      <input type="radio" id="g" name="dish-size">
      <label for="g">G (750ml)</label>
    </div>
  </div>
</section>

<section class="dish-question" *ngIf="typeOfQuestion===TypeOfQuestion.protein">
  <caption>Qual proteína?</caption>
  <table class="prices">
    <tr>
      <td><input type="radio" name="protein" id="boi"></td>
      <td>Boi</td>
      <td class="price" >R$ 10,00</td>
    </tr>
    <tr>
      <td><input type="radio" name="protein" id="galinha"></td>
      <td>Galinha</td>
      <td class="price">R$ 10,00</td>
    </tr>
    <tr>
      <td><input type="radio" name="protein" id="ovo"></td>
      <td>Ovo</td>
      <td class="price">R$ 10,00</td>
    </tr>
    <tr>
      <td><input type="radio" name  ="protein" id="porco"></td>
      <td>Porco</td>
      <td class="price">R$ 10,00</td>
    </tr>
    <tr>
      <td><input type="radio" name  ="protein" id="none"></td>
      <td>Sem carne</td>
      <td class="price">R$ 10,00</td>
    </tr>
  </table>
</section>

<section class="dish-question" *ngIf="typeOfQuestion===TypeOfQuestion.isFull">
    <caption>Será completa?</caption>
  <div class="obs">(Com arroz, feijão, macarrão e farofa de bacon)</div>
    <table class="is-full">
      <div class="if-full-option">
        <input type="radio" name="if-full" id="yes" [(ngModel)]="isFull" [value]="true">
        <label>Sim</label>
      </div>
      <div class="if-full-option">
        <input type="radio" name="if-full" id ="no" [(ngModel)]="isFull" [value]="false">
        <label>Não</label>
      </div>
    </table>

    <section *ngIf="!isFull" class="is-full">
      <p>O que deseja remover do prato?</p>
      <table class="food-to-remove">
        <tr>
          <td><input type="checkbox" name="protein" id="rice"></td>
          <td>Arroz</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="bean"></td>
          <td>Feijão</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="spaghetti"></td>
          <td>Macarrão</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="protein" id="farofa"></td>
          <td>Farofa de bacon</td>
        </tr>
      </table>
    </section>
</section>

<section class="dish-question" *ngIf="typeOfQuestion === TypeOfQuestion.accompaniments">
  <caption>Qual será o acompanhamento?</caption>
  <div class="obs">Você tem direito a 1 acompanhamento gratuito 😋</div>

  <table class="accompaniments">
    <tr>
      <td><input type="radio" name="accompaniment" id="fries"></td>
      <td>Batata frita</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="salad"></td>
      <td>Salada de legumes</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="mayonnaise"></td>
      <td>Maionese</td>
    </tr>
    <tr>
      <td><input type="radio" name="accompaniment" id="no-accompaniment"></td>
      <td>Sem Acompanhamento</td>
    </tr>
  </table>

</section>

<section class="dish-question" *ngIf="typeOfQuestion === TypeOfQuestion.additional">
  <caption>Algum adicional? (opcional)</caption>
  <table class="additional">
    <tr>
      <td><input type="checkbox" id="egg"></td>
      <td>Ovo</td>
      <td class="price">R$ 2,00</td>
    </tr>
    <tr>
      <td><input type="checkbox" id="soda"></td>
      <td>Coca-cola em lata</td>
      <td class="price">R$ 6,00</td>
    </tr>
    <tr>
      <td><input type="checkbox" id="drink"></td>
      <td>Guaravita</td>
      <td class="price">R$ 2,00</td>
    </tr>
  </table>
</section>


<section class="dish-question" *ngIf="typeOfQuestion === TypeOfQuestion.obs" id="obs">
    <caption>Alguma observação?</caption>
    <textarea placeholder="Ex: Carne bem passada, gema mole e sem cebola." ></textarea>
</section>
