<app-container class="hi">
    Qual o endereço de entrega?
    <div class="address-example ">Ex: Avenida 18 do Forte, 700 - Mutuá, Sâo Gonçalo. Bloco X, apartamento Y.</div>
    <textarea rows="5" cols="35" placeholder="Digite aqui seu endereço:" ></textarea>
    <div class="obs">
      OBS: A taxa de entrega é 2 reais para a Rua Lúcio Tomé Feteira - Vila Lage, em São Gonçalo.
      Para entregas em outros endereços, apenas pelo ifood.
    </div>
    Link da loja no ifood: <a
      href="https://www.ifood.com.br/delivery/sao-goncalo-rj/saboroso-gourmet-vila-lage/c5ad65b3-b538-41ca-ad27-5483c03d27d1?UTM_Medium=share"
      target="_blank"
    >Saboroso Gourmet iFood</a>
</app-container>
