.menu-item  {
  margin: 0.5rem;
  padding: 0.7rem;
  border: 0.1rem solid;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title {
  font-weight: bold;
}

img {
  object-fit: cover;
  border-radius: 1.5rem;
}

table.menu-item td:nth-child(2) {
  padding-left: 1rem;
}
