.container {
  background-color: #082847;
  width: 30rem;
  min-height: 2rem;
  border-radius: 1rem;
  color: white;
  margin: 0.5rem;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-itens {
  background-color: transparent;
  margin: 0.2rem;
}
