* {
  background-color: transparent;
}

p {
  padding-right: 1rem;
  padding-left: 1rem;
}

textarea {
  padding: 0.5rem;
}

textarea::placeholder{
  color: #cbcb17;
}

button {
  height: 3rem;
  width: 12rem;
}
