<section class="menu">
  <app-menu-item  pic="../assets/bife-a-cavalo.jpeg" title="Bife de contra filé à cavalo " price="22"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-contra-file.jpeg" title="Iscas de contra filé" price="18"></app-menu-item>
  <app-menu-item  pic="../assets/contra-file.jpeg" title="Contra filé" price="20"></app-menu-item>
  <app-menu-item  pic="../assets/frango-a-milanesa.jpeg" title="Frango a Milanesa" price="17"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-contra-file-acebolada.jpeg" title="Isca de contra filé acebolada" price="18"></app-menu-item>
  <app-menu-item  pic="../assets/frango-a-parmegiana.jpeg" title="Frango-a-parmegiana" price="18"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-frango-acebolada.jpeg" title="Carne assada" price="20"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-frango-acebolada.jpeg" title="Iscas de frango acebolado" price="25"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" price="18"></app-menu-item>
  <app-menu-item  pic="../assets/carne-assada-com-batata.jpeg" title="Carne assada com batata" price="20"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" price="18"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" price="20  "></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" price="25"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="caine" price="18"></app-menu-item>

</section>
