<section class="menu">
  <app-menu-item  pic="../assets/bife-a-cavalo.jpeg" title="Bife de contra filé à cavalo " priceG="22"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-contra-file.jpeg" title="Iscas de contra filé" priceG="18"></app-menu-item>
  <app-menu-item  pic="../assets/contra-file.jpeg" title="Contra filé" priceG="20"></app-menu-item>
  <app-menu-item  pic="../assets/frango-a-milanesa.jpeg" title="Frango a Milanesa" priceG="17"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-contra-file-acebolada.jpeg" title="Isca de contra filé acebolada" priceG="18"></app-menu-item>
  <app-menu-item  pic="../assets/frango-a-parmegiana.jpeg" title="Frango-a-parmegiana" priceG="18"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-frango-acebolada.jpeg" title="Carne assada" priceG="20"></app-menu-item>
  <app-menu-item  pic="../assets/iscas-de-frango-acebolada.jpeg" title="Iscas de frango acebolado" priceG="25"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" priceG="18"></app-menu-item>
  <app-menu-item  pic="../assets/carne-assada-com-batata.jpeg" title="Carne assada com batata" priceG="20"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" priceG="18"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" priceG="20  "></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="Frango Grelhado" priceG="25"></app-menu-item>
  <app-menu-item  pic="../assets/frango-grelhado.jpeg" title="caine" priceG="18"></app-menu-item>

</section>
