<section class="menu">
  <app-menu-item  pic="../assets/boi.webp" title="Boi" price="10"></app-menu-item>
  <app-menu-item  pic="../assets/galinha.jpg" title="Galinha" price="10"></app-menu-item>
  <app-menu-item  pic="../assets/ovo.jpg" title="Ovo" price="10"></app-menu-item>
  <app-menu-item  pic="../assets/porco.webp" title="Porco" price="10"></app-menu-item>
  <app-menu-item  pic="../assets/boi.webp" title="Boi" price="10"></app-menu-item>
  <app-menu-item  pic="../assets/galinha.jpg" title="Galinha" price="10"></app-menu-item>
</section>
